.docs {
  width: 960px;
  margin: auto;
}
.example__unit {
  width: 150px;
  background-color: #ddd;
  border: 1px solid #565656;
  text-align: center;
}
.example--align .example__list {
  border: 1px solid #565656;
  height: 300px;
  padding: 10px;
}
.example--align .example__unit {
  min-height: 150px;
  margin: 10px;
}
.example--dir .example__list {
  border: 1px solid #565656;
  min-height: 300px;
  padding: 10px;
}
.example--dir .example__unit {
  height: 150px;
  margin: 10px;
}
.example--gap .example__list {
  height: 300px;
  margin-bottom: 10px;
}
.example--gap .example__list {
  height: 50px;
}
.example--grid .example__unit {
  height: 50px;
  margin-bottom: 20px;
}
.example .jumbotron {
  text-align: center;
}
