.docs {
  max-width: 980px;
  min-width: 320px;
  padding: 10px;
  margin: auto;
/*-------------------------------------
    Rewrite bootstrap classes
  --------------------------------------*/
}
.docs .jumbotron {
  text-align: center;
}
.example__unit {
  width: 150px;
  background-color: #ddd;
  border: 1px solid #565656;
  text-align: center;
}
.example--align .example__list {
  border: 1px solid #565656;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
}
.example--align .example__list--col {
  height: 400px;
}
.example--align .example__unit {
  padding: 25px;
  width: auto;
  margin: 10px;
}
.example--align .example__unit--col {
  padding: 25px;
}
.example--dir .example__list {
  border: 1px solid #565656;
  padding: 10px;
}
.example--dir .example__unit {
  height: 150px;
  margin: 10px;
}
.example--gap .example__list {
  height: 50px;
}
.example--grid .example__unit {
  height: 50px;
  margin-bottom: 20px;
}
.example--fill .example__list {
  border: 1px solid #565656;
  padding: 10px;
}
.example--fill .example__input {
  margin-bottom: 10px;
}
/*-------------------------------------
  Demo styles
--------------------------------------*/
.demo {
  margin-bottom: 20px;
}
.demo__unit {
  border: 1px solid #565656;
  background-color: #cecece;
  padding: 10px;
}
.demo--gallery {
  border: 1px solid #565656;
  padding: 10px;
}
.demo--gallery .demo__unit {
  height: 100px;
  margin-bottom: 10px;
}
