@import 'nib'

$border-c = #565656

.docs  
  max-width: 980px 
  min-width: 320px
  padding 10px
  margin auto
  

  /*-------------------------------------
    Rewrite bootstrap classes
  --------------------------------------*/
  .jumbotron
    text-align: center
 



.example

  
  &__unit
    width 150px
    background-color #ddd
    border: $border-c
    text-align center



  &--align  &__list
    border: $border-c
    height 200px
    padding 10px
    margin-bottom 10px
    
    &--col
      height 400px

    
  &--align  &__unit
    padding: 25px
    width auto
    margin: 10px
    
    &--col
      padding 25px
      



  &--dir  &__list
    border: $border-c
    padding 10px
    
  &--dir  &__unit
    height 150px
    margin: 10px
    


  &--gap  &__list
    height 50px

    
    
  &--grid  &__unit
    height 50px
    margin-bottom 20px


    
  &--fill  &__list
    border $border-c
    padding 10px

  &--fill  &__input
    margin-bottom 10px
   


/*-------------------------------------
  Demo styles
--------------------------------------*/
.demo
  margin-bottom 20px    

  &__unit
    border $border-c
    background-color #cecece
    padding 10px


  &--gallery
    border $border-c
    padding: 10px
  

  &--gallery  &__unit
    height 100px
    margin-bottom 10px
    test()
      




