doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')

  head
    title Flex Tools Docs
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    link(href='../dist/flex-tools.css', rel='stylesheet')
    link(href='docs.css', rel='stylesheet')
    


  body(itemscope, itemtype='http://schema.org/WebPage')

    h1 Flex Tools
    p Set of flexbox based layout helpers.


    script(src='assets/js/yonkers-landing-libs.js')
    script(src='assets/js/yonkers-landing-scripts.js')
    // script(src='assets/js/yonkers-landing-libs.min.js')
    // script(src='assets/js/yonkers-landing-scripts.min.js')
